@model IEnumerable<StudentApp.Models.Document>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                <img src="~/docimage/@item.DocFile" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocCategory.DocCategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
